%button{
    all: unset;
    color: #111;
    font-size: 1rem;
    border-radius: .35rem;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all 200ms linear;
    font-weight: 700;
    
    box-shadow: 0 0.25rem .5rem #00000070;
}
.primary{
    @extend %button;
    background-color: #3e74e1;
    color: #fff;
}
.primary:hover{
    background-color: darken($color: #3e74e1, $amount: 10%)
}
.primary:active{
    background-color: darken($color: #3e74e1, $amount: 20%)
}

.secondary{
    @extend %button;
    background-color: #e54;
}
.secondary:hover{
    background-color: darken($color: #e54, $amount: 10%)
}
.secondary:active{
    background-color: darken($color: #e54, $amount: 20%)
}