@import "global/utilityFirst";

.headerBg {
  transition: all 300ms linear;
  box-shadow: 0 0 1rem #0002;
  backdrop-filter: blur(0.8rem);
}

.headernoBg {
  transition: all 300ms linear;
  box-shadow: 0 0 1rem #0000;
  background-color: #0000;
  backdrop-filter: blur(0px);
}
.hidden {
  transform: translateY(-100%);
  // transform-origin: 100% 100%;
}

.header {
  @extend .container;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  button {
    box-shadow: none;
    background: #0003;
    font-size: 0.83rem;
    font-weight: 300;
    backdrop-filter: blur(5px);
    &:hover {
      background: #0004;
      color: #fff0;
      transform: rotateY(180deg) perspective(30px);
      transition: all 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
      &::after {
        transition: all 200ms linear;
        transition-delay: 300ms;
        content: "مشاهده";
        color: #fff;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        inset: 0;
        transform: rotateY(180deg);
      }
    }
    &:active {
      transform: scale(1.2) rotateY(180deg) perspective(30px);
    }
  }
  [data-os="andriod"] & {
    backdrop-filter: blur(0.8rem);
  }
  [data-os="andriod"] &,
  [data-os="ios"] & {
    justify-content: center;
  }
  @media (min-width: 700px) {
    border-radius: 0 0 1rem 1rem;
  }
}

.banner {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  position: relative;
  user-select: none;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 0;
    animation: image 25s ease-in-out infinite;
    [data-os="andriod"] & {
      object-position: 60% 0;
      animation: none;
    }
  }
  .bannerControl {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    [data-os="andriod"] &,
    [data-os="ios"] & {
      width: 100%;
    }
  }
  .bannerText {
    color: #fff;
    border-radius: 0.75rem;
    text-align: center;
    text-shadow: 0 0.1rem 0.5rem #000000f0;
    h1 {
      font-weight: 900;
    }
    h3 {
      font-weight: 100;
    }
  }
  Button {
    display: block;
    text-align: center;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
}
@keyframes image {
  50% {
    object-position: 90% 0;
  }
}
